<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head}" />
<body>
    <div th:replace="~{fragments/layout :: header}"></div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.id}"></td>
                <td th:text="${produto.nome}"></td>
                <td th:text="${produto.preco}"></td>
                <td>
                    <a th:href="@{/produtos/editar/{id} (id=${produto.id})}">Editar</a>
                    <a th:href="@{/produtos/excluir/{id} (id=${produto.id})}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/produtos/novo}">Adicionar Novo Produto</a>
    <head th:replace="~{fragments/layout :: footer}">

</body>

</html>